<div class="d-flex wd-100p align-items-center justify-content-between mg-b-20">
    <h6 class="tx-15 mg-b-0 mg-l-25">Datos Clínicos</h6>
    <div class="d-flex align-items-right">

        <button class="btn btn-sm btn-white d-flex align-items-center">
            <i class="fas fa-cloud-upload-alt mg-r-5 tx-13 lh--9"></i>
            Subir Historia Clínica
        </button>

        <div class="dropdown dropright">
            <button class="btn btn-sm btn-white" type="button" id="menuAtenciones" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bars mg-r-5 tx-13 lh--9"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="menuAtenciones">
                <a class="dropdown-item" href="#" id="atencionesHM">Ver Atenciones Hospital Metropolitano</a>
            </div>
        </div>
    </div>
</div>
<div class="divider-text mg-b-20">Otras Atenciones</div>
