<div class="d-flex align-items-start justify-content-between">
    <div class="d-flex justify-content-start">
        <h6 class="tx-15 mg-b-0">
            Otras Atenciones
        </h6>
    </div>
    <div class="d-flex justify-content-end">
        <button class="btn btn-sm btn-white d-flex align-items-center" id="reset-otrosDatosClinicos">
            <i class="fas fa-sync-alt mg-r-5 tx-16 lh--9"></i>
        </button>
        <button class="btn btn-sm btn-white d-flex align-items-center" id="close-otrosDatosClinicos">
            <i class="fas fa-times-circle mg-r-5 tx-16 lh--9"></i>
        </button>
    </div>
</div>
<div class="divider-text mg-b-20">Historial de Atenciones</div>
<div class="d-flex wd-100p align-items-center justify-content-between">
    <div class="table-loader col-12 bg-white pd-5">
        <div class="placeholder-paragraph pd-y-25 pd-x-20">
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>
    <div class="table-content col-12 bg-white pd-5 d-none">
        <table class="table table-sm table-hover" id="table-atenciones" width="100%"></table>
    </div>
</div>
