<div class="">
	<h4 class="">Datos Clínicos</h4>
	<label class="d-block tx-medium tx-10 tx-uppercase tx-sans tx-spacing-1 tx-color-03 mg-b-15">Opciones disponibles:</label>
	<div class="row row-xs mg-b-20">
		<div class="col-6 col-sm-4 col-md-3 col-xl-3">
			<div class="verAtencionesHM card card-file" style="cursor:pointer;">
				<div class="card-file-thumb tx-indigo">
					<i class="fas fa-id-badge"></i>
				</div>
				<div class="card-body">
					<h6>
						<div class="link-02">Historial Clínico</div>
					</h6>
				</div>
				<div class="card-footer">
					<span class="d-none d-sm-inline">Hospital Metropolitano
					</span>
				</div>
			</div>
		</div>
		<div class="col-6 col-sm-4 col-md-3 col-xl-3">
			<div class="certificados card card-file" style="cursor:pointer;">

				<div class="card-file-thumb tx-primary">
					<i class="fas fa-file-medical"></i>
				</div>
				<div class="card-body">
					<h6>
						<div class="link-02">Certificados Medicos</div>
					</h6>
				</div>
				<div class="card-footer">
					<span class="d-none d-sm-inline">Certificados Medicos
					</span>
				</div>
			</div>
		</div>
		<div class="col-6 col-sm-4 col-md-3 col-xl-3">
			<div class="recetas card card-file" style="cursor:pointer;">
				<div class="card-file-thumb tx-info">
					<i class="fas fa-copy"></i>
				</div>
				<div class="card-body">
					<h6>
						<div class=" link-02">Recetas</div>
					</h6>
				</div>
				<div class="card-footer">
					<span class="d-none d-sm-inline">Recetas
					</span>
				</div>
			</div>
		</div>
		<div class="inAtencion col-6 col-sm-4 col-md-3 col-xl-3 d-none">
			<div class="nuevaHistoriaClinica card card-file" style="cursor:pointer;">

				<div class="card-file-thumb tx-success">
					<i class="fas fa-file-medical-alt"></i>
				</div>
				<div class="card-body">
					<h6>
						<div class="link-02">Nueva Historia Clinica</div>
					</h6>
				</div>
				<div class="card-footer">
					<span class="d-none d-sm-inline">
						Nueva Historia Clinica
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="row row-xs mg-b-20 ">
		<div class="col-6 col-sm-4 col-md-3 col-xl-3">
			<div class="notas card card-file" style="cursor:pointer;">
				<div class="card-file-thumb tx-primary">
					<i class="fas fa-sticky-note"></i>
				</div>
				<div class="card-body">
					<h6>
						<div class="link-02">Notas</div>
					</h6>
				</div>
				<div class="card-footer">
					<span class="d-none d-sm-inline">Notas
					</span>
				</div>
			</div>
		</div>
		<div class="col-6 col-sm-4 col-md-3 col-xl-3 d-none">
			<div class="formulariosMedicos card card-file" style="cursor:pointer;">
				<div class="card-file-thumb tx-orange">
					<i class="fas fa-file-invoice"></i>
				</div>
				<div class="card-body">
					<h6>
						<div class=" link-02">Formularios Médicos</div>
					</h6>
				</div>
				<div class="card-footer">
					<span class="d-none d-sm-inline">Formularios Médicos
					</span>
				</div>
			</div>
		</div>
		<div class="col-6 col-sm-4 col-md-3 col-xl-3 d-none">
			<div class="otrosDocumentos card card-file" style="cursor:pointer;">
				<div class="card-file-thumb tx-indigo">
					<i class="fas fa-file"></i>
				</div>
				<div class="card-body">
					<h6>
						<div class="link-02">Otros Documentos</div>
					</h6>
				</div>
				<div class="card-footer">
					<span class="d-none d-sm-inline">Otros Documentos
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
