<div class="row">
    <div class="col-6 col-sm">
        <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">
            Primer Nombre
        </label>
        <p class="mg-b-0">%primerNombre%</p>
    </div><!-- col --><div class="col-6 col-sm">
        <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">
            Segundo Nombre
        </label>
        <p class="mg-b-0">%segundoNombre%</p>
    </div><!-- col --><div class="col-sm mg-t-20 mg-sm-t-0">
        <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">
            Apellidos
        </label>
        <p class="mg-b-0">%primerApellido% %segundoApellido%</p>
    </div>
    <!-- col -->
</div>
<!-- row -->
<h6 class="mg-t-40 mg-b-20">Datos de Contacto</h6>
<div class="row row-sm">
    <div class="col-6 col-sm-4">
        <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">
            Celular
        </label>
        <p class=" tx-12 tx-rubik mg-b-0">%textMediosContactoCels%</p>
    </div>
    <div class="col-6 col-sm-4">
        <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">
            Teléfono Domicilio
        </label>
        <p class="tx-12 tx-rubik mg-b-0">%textMediosContactoTlfs%</p>
    </div>
    <div class="col-6 col-sm-4 mg-t-20 mg-sm-t-0">
        <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">
            Teléfono Trabajo
        </label>
        <p class="tx-12 tx-rubik mg-b-0">
            %textMediosContactoTrabajo%
        </p>
    </div>
    <div class="col-sm-4 mg-t-20 mg-sm-t-30">
        <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">
            Correo Electrónico
        </label>
        <p class="tx-12 mg-b-0">%textMediosContactoEmails%</p>
    </div>
    <div class="col-sm-4 mg-t-20 mg-sm-t-30">
        <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">
            Trabajo
        </label>
        <p class="tx-12 mg-b-0">%trabajo%</p>
    </div>
    <div class="col-sm-4 mg-t-20 mg-sm-t-30">
        <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">
            Cargo
        </label>
        <p class="tx-12 mg-b-0">%cargo%</p>
    </div>
    <div class="col-sm-6 mg-t-20 mg-sm-t-30">
        <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">
            Dir. Domicilio
        </label>
        <p class="tx-12 mg-b-0">%textDireccionesCasa%</p>
    </div>
    <div class="col-sm-6 mg-t-20 mg-sm-t-30">
        <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">
            Dir. Trabajo
        </label>
        <p class="tx-12 mg-b-0">%textDireccionesTrabajo%</p>
    </div>
    <div class="col-sm-6 mg-t-20 mg-sm-t-30">
        <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">
            Website
        </label>
        <p class="mg-b-0">%website%</p>
    </div>
    <div class="col-sm-6 mg-t-20 mg-sm-t-30">
        <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">
            Redes Sociales
        </label>
        <nav class="nav nav-social">
            <a class="nav-link disabled" href="">
                <i class="fab fa-facebook-square tx-18"></i>
            </a>
            <a class="nav-link disabled" href="">
                <i class="fab fa-twitter tx-18"></i>
            </a>
            <a class="nav-link disabled" href="">
                <i class="fab fa-instagram tx-18"></i>
            </a>
        </nav>
    </div><!-- col --><div class="col-sm mg-t-20 mg-sm-t-30 d-none">
        <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">
            Notas
        </label>
        <p class="tx-13 mg-b-0">%notas%</p>
    </div>
</div>
