<div class="d-flex mg-b-10">
	<div class="pd-0 mg-t-5 flex-fill">

		<p class="tx-12 tx-normal">
			<i class="fas fa-info-circle"></i>
			Selecciona los exámenes a prescribir, en caso de que ya no los requieras, por favor elimina la selección.</p>
	</div>
</div>
<div class="row mg-b-30">
	<div class="col-sm-7 pd-0">
		<div class="d-flex flex-row">
			<ul class="nav nav-line flex-column wd-40p" id="tab-new-pedido-img" role="tablist"></ul>
			<div class="tab-content mg-l-8 flex-column" id="contents-tab-pedido-img"></div>
		</div>
		<!-- df-example -->
	</div>
	<div class="col-sm-5 pd-0">
		<div class="">
			<p class="mg-b-5">
				<i class="fas fa-file-alt"></i>
				Exámenes de Imagen:</p>
			<table class="grid-examenes-img table tx-12">
				<tbody></tbody>
			</table>
		</div>
	</div>
</div>
