<div class="pd-y-25 pd-x-20">
    <h6 class="tx-12 tx-semibold tx-danger tx-spacing-1 tx-uppercase">
        <i class="fas fa-times-circle"></i>
        %title%
    </h6>
    <p class="tx-13 tx-color-03 mg-b-20"></p>
    %messag %
    <p class="tx-13 tx-color-03 mg-b-20"></p>¿Que puedes hacer ?
    <a class="tx-13 tx-color-03 d-block" href="{{ config.build.url }}">
        <i class="fas fa-angle-double-left"></i>
        Regresar al Inicio
    </a>
    <a class="off-canvas-menu tx-13 tx-color-03 d-block" href="{{ config.build.url }}">
        <i class="fas fa-info-circle"></i>
        Ver Logs
    </a>
    <p class="tx-13 tx-color-03 mg-t-20 mg-b-20">¿El problema persiste?</p>
    <a class="tx-13 tx-color-03 d-block" href="mailto:concas@hmetro.med.ec">
        <i class="fas fa-ticket-alt"></i>
        Generar un ticket de soporte
    </a>
</div>
