<div class="">
	<h4 class="">Laboratorio</h4>

	<label class="d-block tx-medium tx-10 tx-uppercase tx-sans tx-spacing-1 tx-color-03 mg-b-15">Opciones disponibles:</label>
	<div class="row row-xs">
		<div class="col-6 col-sm-4 col-md-3 col-xl-3">
			<div class="verResultadosHM card card-file" style="cursor:pointer;">

				<div class="card-file-thumb tx-indigo">
					<i class="fas fa-id-badge"></i>
				</div>
				<div class="card-body">
					<h6>
						<div class="link-02">Ver Resultados</div>
					</h6>
				</div>
				<div class="card-footer">
					<span class="d-none d-sm-inline">Hospital Metropolitano
					</span>
				</div>
			</div>
		</div>
		<div class="col-6 col-sm-4 col-md-3 col-xl-3 d-none">
			<div class="card card-file">

				<div class="card-file-thumb tx-info">
					<i class="fas fa-id-badge"></i>
				</div>
				<div class="card-body">
					<h6>
						<a href="#" class="verOtrosResultados link-02">Ver Otros Resultados</a>
					</h6>
				</div>
				<div class="card-footer">
					<span class="d-none d-sm-inline">
						Otros Resultados
					</span>
				</div>
			</div>
		</div>
		<div class="col-6 col-sm-4 col-md-3 col-xl-3 d-none">
			<div class="card card-file">

				<div class="card-file-thumb tx-primary">
					<i class="fas fa-cloud-upload-alt"></i>
				</div>
				<div class="card-body">
					<h6>
						<a href="#" class="subirResultado link-02">Subir Resultado</a>
					</h6>
				</div>
				<div class="card-footer">
					<span class="d-none d-sm-inline">
						Subir Resultado
					</span>
				</div>
			</div>
		</div>
		<div class="col-6 col-sm-4 col-md-3 col-xl-3 d-none">
			<div class="nuevoPedidoLab card card-file" style="cursor:pointer;">

				<div class="card-file-thumb tx-success">
					<i class="fas fa-file-alt"></i>
				</div>
				<div class="card-body">
					<h6>
						<div class=" link-02">Nuevo Pedido</div>
					</h6>
				</div>
				<div class="card-footer">
					<span class="d-none d-sm-inline">
						Nuevo Pedido
					</span>
				</div>
			</div>
		</div>

	</div>
</div>
