<div class="d-flex wd-100p align-items-center justify-content-between mg-b-20">
	<div class="d-flex justify-content-start">
		<h6 class="tx-15 mg-b-0">
			Resultados de Laboraotrio
			<p class="tx-10 tx-semibold">
				Hospital Metropolitano
			</p>
		</h6>
	</div>
	<div class="d-flex justify-content-end">
		<button class="btn btn-sm btn-white d-flex align-items-center" id="reset-laboratorio">
			<i class="fas fa-sync-alt mg-r-5 tx-16 lh--9"></i>
		</button>
		<button class="btn btn-sm btn-white d-flex align-items-center" id="close-laboratorio">
			<i class="fas fa-times-circle mg-r-5 tx-16 lh--9"></i>
		</button>
	</div>

</div>
<div class="divider-text mg-b-20">Resultados de Laboraotrio</div>
<div class="d-flex wd-100p align-items-center justify-content-between mg-b-30">
	<div class="col-4 pos-fixed"></div>
	<div class="col-8 offset-4">
		<div class="timeline-group tx-13 align-items-center">
			<div class="timeline-resultados-lab"></div>
		</div>
	</div>
</div>
