<li class="nav-item" style="margin-top: 0px !important;">
    <a aria-selected="true" class="nav-link tx-14" data-toggle="tab" href="#tab-cod-des-img-%codigoAgrupacion%" id="cod-des-img-%codigoAgrupacion%" role="tab">
        %descripcionAgrupacion%
    </a>
</li>
