<div class="timeline-item mg-b-5">
    <div class="timeline-time">Fecha: %fechaAdmision%
        <br/>Admisión N°: %numeroAdmision%</div>
    <!-- timeline-body -->
    <div class="timeline-body">
        <h6 class="mg-b-0">%nombreMedicoTratante%</h6>
        <p>
            <span class="tx-primary">
                Especialidad:
            </span>
            %especialidad%
            <span class="tx-primary">
                Origen:
            </span>
            %origen%
        </p>
        <p class="d-none">
            Motivo de Consulta:
            <br/>
            %motivoCitaMedica%
        </p>
        <nav class="nav nav-row mg-t-15 d-none">
            <i class="icon ion-md-close-circle mg-r-5"></i>
            %message%
        </nav>
    </div>
</div>
