<div class="timeline-item mg-b-5">
    <div class="timeline-time">Fecha: %FECHA_RES%
        <br/>Admisión N°: %ADMISION%
    </div>
    <!-- timeline-body -->
    <div class="timeline-body">
        <h6 class="mg-b-0">Servicio de Laboratorio</h6>
        <p>
            <span class="tx-primary">
                HOSPITAL METROPOLITANO
            </span>

        </p>
        <nav class="nav nav-row mg-t-15 tx-primary">
            <a class="nav-link mg-b-0 detalle-lab" id="lab-%ID_RESULTADO%" data-iddocumento="%ID_RESULTADO%" data-fechadocumento="%FECHA_RES%" style="cursor: pointer">
                <i class="icon ion-md-document tx-18 tx-primary mg-r-2"></i>
                Ver Resultado
            </a>
        </nav>
    </div>
</div>
