<div class="d-flex wd-100p align-items-center justify-content-between mg-b-20">
    <h6 class="tx-15 mg-b-0 mg-l-25">Servicio de Laboratorio</h6>
    <div class="d-flex align-items-right">
        <button class="btn btn-sm btn-white d-flex align-items-center">
            <i class="fas fa-cloud-upload-alt mg-r-5 tx-13 lh--9"></i>
            Subir Resultado
        </button>
        <div class="dropdown dropright">
            <button class="btn btn-sm btn-white" type="button" id="menuResultados" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bars mg-r-5 tx-13 lh--9"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="menuResultados">
                <a class="dropdown-item" href="#" id="resultadosHM">Ver Resultados Hospital Metropolitano</a>
            </div>
        </div>
    </div>
</div>
<div class="divider-text mg-b-20">Otros resultados de Laboraotrio</div>
<div class="d-flex wd-100p align-items-center justify-content-between mg-b-30"></div>
