<div class="">
	<div class="row row-xs mg-b-20">

		<div class="media-body pd-5 pd-t-40 bg-white">
			<div id="step1-tc" class="d-none">
				<div class="ht-100p d-flex flex-column align-items-center justify-content-center ">
					<div class="wd-80p wd-sm-50 wd-lg-0 mg-b-15">
						<i class="fas fa-check-circle tx-50 tx-success"></i>
					</div>
					<h1 class="tx-color-01 tx-24 tx-sm-32 tx-lg-36 mg-xl-b-5">
						<div class="mg-l-5 d-inline">Teleconsulta generada con éxito.</div>
					</h1>
					<h5 class="tx-16 tx-sm-18 tx-lg-20 tx-normal mg-b-5">
						<div class="spinner-grow text-green" role="status">
							<span class="sr-only">Cargando...</span>
						</div>
						Estamos esperando la conexión del paciente.
					</h5>
					<span class="tx-18 mg-b-10">
						Hemos enviado una notificación por correo electrónico
					</span>
					<span class="tx-15 tx-color-03  mg-b-5">
						Opciones disponibles
					</span>
					<div class="d-flex mg-b-40">
						<a href="#" role="button" class="finAtencion  btn btn-danger tx-15 mg-t-10 mg-b-5 mg-r-10">Finalizar Atencion</a>
						<a href="#" role="button" class="cancelarAtencion  btn btn-outline-light tx-15 mg-t-10 mg-b-5 mg-r-10">Cancelar Atención</a>
						<a href="#" role="button" class="copiarEnlace  btn btn-primary tx-15 mg-t-10 mg-b-5 mg-r-10">Copiar enlace Zoom</a>
						<a href="#" role="button" class="shareWhatsapp  btn btn-success tx-15 mg-t-10 mg-b-5 mg-r-10">
							<i class="fab fa-whatsapp"></i>
							Compartir por Whatsapp
						</a>
					</div>
				</div>
			</div>
			<div id="step2-tc" class="d-none">
				<div class="ht-100p d-flex flex-column align-items-center justify-content-center ">
					<div class="wd-80p wd-sm-50 wd-lg-0 mg-b-15">
						<i class="fas fa-user tx-50 tx-primary"></i>
					</div>
					<h1 class="tx-color-01 tx-24 tx-sm-32 tx-lg-36 mg-xl-b-5">
						<div class="mg-l-5 d-inline">El paciente acaba de conectarse.</div>
					</h1>
					<h5 class="tx-16 tx-sm-18 tx-lg-20 tx-normal mg-b-50">
						En unos segundos estaras conectado.
					</h5>
				</div>
			</div>
			<div id="offline-tc" class="d-none">
				<div class="ht-100p d-flex flex-column align-items-center justify-content-center ">
					<div class="wd-80p wd-sm-50 wd-lg-0 mg-b-15">
						<i class="fas fa-signal tx-50 tx-gray"></i>
					</div>
					<h1 class="tx-color-01 tx-24 tx-sm-32 tx-lg-36 mg-xl-b-5">
						<div class="mg-l-5 d-inline">No existe conexión estable.</div>
					</h1>
					<h5 class="tx-16 tx-sm-18 tx-lg-20 tx-normal mg-b-50">
						Intentaremos la conexión nuevamente en unos minutos.
					</h5>
				</div>
			</div>
		</div>
	</div>
</div>
