<div class="media align-sm-items-center">
	<div class="tx-40 tx-lg-60 lh-0 tx-primary">
		<i class="far fa-clock"></i>
	</div>
	<div class="media-body mg-l-15 mg-t-auto">
		<h6 class="d-flex align-items-baseline tx-10 tx-lg-10 tx-semibold tx-uppercase tx-spacing-1 mg-b-5" id="fechaReloj"></h6>
		<div class="d-flex align-items-baseline">
			<h2 class="tx-20 tx-lg-28 tx-normal tx-rubik tx-spacing--2 lh-2 mg-b-0" id="relojnumerico"></h2>
		</div>
	</div>
	<!-- media-body -->
</div>
<!-- media -->
