<div class="">
	<h4 class="">Datos Clínicos</h4>

	<label class="d-block tx-medium tx-10 tx-uppercase tx-sans tx-spacing-1 tx-color-03 mg-b-15">Opciones disponibles:</label>
	<div class="row row-xs mg-b-20">
		<div class="col-6 col-sm-4 col-md-3 col-xl-3">
			<div class="verAtencionesHM card card-file" style="cursor:pointer;">
				<div class="card-file-thumb tx-indigo">
					<i class="fas fa-id-badge"></i>
				</div>
				<div class="card-body">
					<h6>
						<div class="link-02">Ver Historial de Atenciones</div>
					</h6>
				</div>
				<div class="card-footer">
					<span class="d-none d-sm-inline">Hospital Metropolitano
					</span>
				</div>
			</div>
		</div>
		<div class="col-6 col-sm-4 col-md-3 col-xl-3 d-none">
			<div class="card card-file">

				<div class="card-file-thumb tx-warning">
					<i class="fas fa-id-badge"></i>
				</div>
				<div class="card-body">
					<h6>
						<a href="#" class="verOtrasAtenciones link-02">Ver Otras Atenciones</a>
					</h6>
				</div>
				<div class="card-footer">
					<span class="d-none d-sm-inline">
						Otras Atenciones
					</span>
				</div>
			</div>
		</div>
		<div class="col-6 col-sm-4 col-md-3 col-xl-3 d-none">
			<div class="card card-file">

				<div class="card-file-thumb tx-primary">
					<i class="fas fa-cloud-upload-alt"></i>
				</div>
				<div class="card-body">
					<h6>
						<a href="#" class="subirHistoriaClinica link-02">Subir Historia Clinica</a>
					</h6>
				</div>
				<div class="card-footer">
					<span class="d-none d-sm-inline">
						Subir Historia Clinica
					</span>
				</div>
			</div>
		</div>
		<div class="inAtencion col-6 col-sm-4 col-md-3 col-xl-3 d-none">
			<div class="nuevaHistoriaClinica card card-file" style="cursor:pointer;">

				<div class="card-file-thumb tx-success">
					<i class="fas fa-file-medical-alt"></i>
				</div>
				<div class="card-body">
					<h6>
						<div class="link-02">Nueva Historia Clinica</div>
					</h6>
				</div>
				<div class="card-footer">
					<span class="d-none d-sm-inline">
						Nueva Historia Clinica
					</span>
				</div>
			</div>
		</div>
		<div class="col-6 col-sm-4 col-md-3 col-xl-3 d-none">
			<div class="nuevoCertificado card card-file" style="cursor:pointer;">
				<div class="card-file-thumb tx-primary">
					<i class="fas fa-file-medical"></i>
				</div>
				<div class="card-body">
					<h6>
						<div class="link-02">Certificado Medico</div>
					</h6>
				</div>
				<div class="card-footer">
					<span class="d-none d-sm-inline">Certificado Medico
					</span>
				</div>
			</div>
		</div>
		<div class="col-6 col-sm-4 col-md-3 col-xl-3 d-none">
			<div class="nuevaReceta card card-file" style="cursor:pointer;">

				<div class="card-file-thumb tx-info">
					<i class="fas fa-copy"></i>
				</div>
				<div class="card-body">
					<h6>
						<div class=" link-02">Nueva Receta</div>
					</h6>
				</div>
				<div class="card-footer">
					<span class="d-none d-sm-inline">Nueva Receta
					</span>
				</div>
			</div>
		</div>

	</div>
	<div class="row row-xs mg-b-20"></div>


</div>
