<div class="d-flex align-items-start justify-content-between">
    <div class="d-flex justify-content-start">
        <h6 class="tx-15 mg-b-0">
            Historial de Atenciones
            <p class="tx-10 tx-semibold">
                Hospital Metropolitano
            </p>
        </h6>
    </div>
    <div class="d-flex justify-content-end">
        <button class="btn btn-sm btn-white d-flex align-items-center" id="reset-datosClinicosHM">
            <i class="fas fa-sync-alt mg-r-5 tx-16 lh--9"></i>
        </button>
        <button class="btn btn-sm btn-white d-flex align-items-center" id="close-datosClinicosHM">
            <i class="fas fa-times-circle mg-r-5 tx-16 lh--9"></i>
        </button>
    </div>


</div>
<div class="divider-text mg-b-20">Historial de Atenciones</div>
<div class="d-flex wd-100p align-items-center justify-content-between">
    <div class="col-10 offset-2">
        <div class="timeline-group tx-13 align-items-center">
            <div class="timeline-atenciones"></div>
        </div>
    </div>
</div>
