<div class="d-flex mg-b-10">
	<div class="pd-0 mg-t-5 flex-fill">

		<p class="tx-12 tx-normal">
			<i class="fas fa-info-circle"></i>
			Selecciona los ex치menes a prescribir, en caso de que ya no los requieras, por favor elimina la selecci칩n.</p>
	</div>
</div>
<div class="row mg-b-30">
	<div class="col-sm-7 pd-0">
		<div class="d-flex flex-row">
			<ul class="nav nav-line flex-column wd-40p" id="tab-new-pedido-lab" role="tablist"></ul>
			<div class="tab-content mg-l-8 flex-column" id="contents-tab-pedido-lab"></div>
		</div>
		<!-- df-example -->
	</div>
	<div class="col-sm-5 pd-0">
		<div class="form-group" id="blockNuevExamenLab" style="display:none;">
			<label class="form-control-label">Nuevo Ex치men:
				<span class="tx-danger">*</span>
			</label>
			<div class="input-group">
				<input id="iOtroExamen" type="text" class="form-control" placeholder="Otro examen" required=""/>
				<div class="input-group-append">
					<button class="btn btn-primary" type="button" id="agregarOtroExamenLab">Agregar</button>
				</div>
			</div>
			<!-- form-group -->
		</div>


		<h4 class="pd-1 mg-b-10 d-none">
			Costo:
			<span id="val-exa-lab">
				$ 0.00
			</span>
		</h4>
		<div class="">
			<p class="mg-b-5">
				<i class="fas fa-file-alt"></i>
				Ex치menes de Laboratorio:</p>
			<table class="grid-examenes-lab table tx-12">
				<tbody></tbody>
			</table>
		</div>
	</div>
</div>
