<div class="verSearchCita media" id="%codigoHorario%-%numeroTurno%" style="cursor:pointer;">
    <div class="avatar avatar-sm %online%">
        <span class="avatar-initial rounded-circle %bgAvatar%">
            %inicialPte%
        </span>
    </div>
    <div class="media-body mg-l-10">
        <h6 class="tx-13 mg-b-0">
            %primerNombrePaciente% %primerApellidoPaciente%
        </h6>
        <div class="d-flex">
            <span class="tx-11 badge pd-0 pd-t-2 wd-60 bg-gray pd-t-4 mg-r-5 mg-l-0">
                <div class="tx-normal">%dia%, %fecha%</div>
            </span>
            <span class="tx-11 badge badge-primary wd-40 pd-0 pd-t-3 pd-b-3 mg-l-55">
                <div class="tx-white">%horaInicio%</div>
            </span>
        </div>
    </div>
    <!-- media-body -->
    <nav style="display:none;" data-toggle="tooltip" title="Teleconsulta">
        <a href="" class="control">
            <i class="fas fa-video"></i>
        </a>
    </nav>
</div>
