<div class="verPaciente media" id="%numeroHistoriaClinica%" style="cursor:pointer;">
    <div class="avatar avatar-sm">
        <span class="avatar-initial rounded-circle %bgAvatar%">
            %inicialPte%
        </span>
    </div>
    <div class="media-body mg-l-10">
        <h6 class="tx-13 mg-b-3">
            %primerNombrePaciente% %primerApellidoPaciente%
        </h6>
        <div class="d-flex">
            <span class="tx-11 badge pd-0 pd-t-2 wd-60 bg-gray">
                <div class="tx-normal">
                    <b>NHC:</b>
                    %numeroHistoriaClinica%</div>
            </span>
        </div>
    </div>
    <!-- media-body -->
    <nav style="display:none;" data-toggle="tooltip" title="Teleconsulta">
        <a href="" class="control">
            <i class="fas fa-video"></i>
        </a>
    </nav>
</div>
