<li class="media align-items-center mg-t-10 mg-l-10 mg-b-10" id="citaDisponible-%codigoHorario%-%numeroTurno%" style="cursor:pointer;">
    <div class="wd-40 ht-40 bg-dark tx-white d-flex align-items-center justify-content-center rounded">
        <i data-feather="calendar"></i>
    </div>
    <div class="media-body pd-l-15">
        <h6 class="tx-primary link-01 mg-b-2">
            %fecha%  %hora%
        </h6>
        <span class="tx-15 tx-color-03">%dia%</span>
    </div>
</li>
