<div class="custom-control custom-checkbox" id="d-customCheck-%codigoAgrupacion%-%codigoExamen%">
    <input class="custom-control-input i-examen-lab" id="customCheck-%codigoAgrupacion%-%codigoExamen%" type="checkbox">
        <label class="custom-control-label" for="customCheck-%codigoAgrupacion%-%codigoExamen%">
            %descripcionExamen%
        </label>
    </input>
</div>
