<div class="">
	<h4 class="">Laboratorio</h4>
	<label class="d-block tx-medium tx-10 tx-uppercase tx-sans tx-spacing-1 tx-color-03 mg-b-15">Opciones disponibles:</label>
	<div class="row row-xs mg-b-20 ">
		<div class="col-6 col-sm-4 col-md-3 col-xl-3">
			<div class="verResultadosHM card card-file" style="cursor:pointer;">
				<div class="card-file-thumb tx-indigo">
					<i class="fas fa-id-badge"></i>
				</div>
				<div class="card-body">
					<h6>
						<div class="link-02">Ver Resultados</div>
					</h6>
				</div>
				<div class="card-footer">
					<span class="d-none d-sm-inline">Hospital Metropolitano
					</span>
				</div>
			</div>
		</div>
		<div class="col-6 col-sm-4 col-md-3 col-xl-3 ">
			<div class="historialPedidosLab card card-file" style="cursor:pointer;">
				<div class="card-file-thumb tx-primary">
					<i class="fas fa-flask"></i>
				</div>
				<div class="card-body">
					<h6>
						<div class="link-02">Historial de Pedidos</div>
					</h6>
				</div>
				<div class="card-footer">
					<span class="d-none d-sm-inline">
						Historial de Pedidos
					</span>
				</div>
			</div>
		</div>
		<div class="col-6 col-sm-4 col-md-3 col-xl-3 d-none">
			<div class="formulariosMedicos card card-file " style="cursor:pointer;">
				<div class="card-file-thumb tx-info">
					<i class="fas fa-vial"></i>
				</div>
				<div class="card-body">
					<h6>
						<div class="link-02">Otros resultados</div>
					</h6>
				</div>
				<div class="card-footer">
					<span class="d-none d-sm-inline">Otros resultados de Laboratroio
					</span>
				</div>
			</div>
		</div>

		<div class="col-6 col-sm-4 col-md-3 col-xl-3">
			<div class="nuevoPedidoLab card card-file" style="cursor:pointer;">
				<div class="card-file-thumb tx-success">
					<i class="fas fa-file-alt"></i>
				</div>
				<div class="card-body">
					<h6>
						<div class="link-02">Nuevo Pedido</div>
					</h6>
				</div>
				<div class="card-footer">
					<span class="d-none d-sm-inline">
						Nuevo Pedido
					</span>
				</div>
			</div>
		</div>

	</div>
	<div class="row row-xs mg-b-20 ">
		
		<div class="col-6 col-sm-4 col-md-3 col-xl-3 d-none">
			<div class="uploadLab card card-file" style="cursor:pointer;">
				<div class="card-file-thumb tx-indigo">
					<i class="fas fa-cloud-upload-alt"></i>
				</div>
				<div class="card-body">
					<h6>
						<div class=" link-02">Subir resultado</div>
					</h6>
				</div>
				<div class="card-footer">
					<span class="d-none d-sm-inline">Guarda resultados de laboratorio de otro instituciòn
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
