<div class="row col-12">
    <div class="d-flex wd-100p align-items-center justify-content-between mg-b-30">
        <span class="tx-12 mg-l-100">
            Página:
            <span class="page_numReceta"></span>
            /
            <span class="page_countReceta"></span>
        </span>
        <div class="d-flex flex-row-reverse">
            <span class="reset-detalle-receta mg-l-15 pd-1 bd bd-0" data-toggle="tooltip" title="Cerrar" style="cursor:pointer;">
                <i class="fas fa-times-circle tx-16 lh--9 tx-gray-500"></i>
            </span>
            <a class="nextReceta pd-1 bd bd-0" href="#" data-toggle="tooltip" title="Siguiente">
                <i class="fas fa-chevron-circle-right tx-15 lh--9 tx-primary"></i>
            </a>
            <a class="prevReceta pd-1 bd bd-0 mg-r-15" href="#" data-toggle="tooltip" title="Anterior">
                <i class="fas fa-chevron-circle-left tx-15 lh--9 tx-primary"></i>
            </a>
            <a class="pd-1 bd bd-0 mg-r-15" href="%pdfUrl%" target="_blank" data-toggle="tooltip" title="Descargar" download="download">
                <i class="fas fa-download tx-15 lh--9 tx-primary"></i>
            </a>

        </div>
    </div>
</div>
<div class="row col-12">
    <div class="d-flex justify-content-center">
        <canvas id="render-receta" width="100%"></canvas>
    </div>
</div>
<div class="row col-12 mg-t-30 mg-b-20">
    <div class="d-flex wd-100p align-items-center justify-content-between mg-b-30">
        <span class="tx-12 mg-l-100">
            Página:
            <span class="page_numReceta"></span>
            /
            <span class="page_countReceta"></span>
        </span>
        <div class="d-flex flex-row-reverse">
            <a class="reset-detalle-receta mg-l-15 pd-1 bd bd-0" href="#" data-toggle="tooltip" title="Cerrar">
                <i class="fas fa-times-circle tx-16 lh--9 tx-gray-500"></i>
            </a>
            <a class="nextReceta pd-1 bd bd-0" href="#" data-toggle="tooltip" title="Siguiente">
                <i class="fas fa-chevron-circle-right tx-15 lh--9 tx-primary"></i>
            </a>
            <a class="prevReceta pd-1 bd bd-0 mg-r-15" href="#" data-toggle="tooltip" title="Anterior">
                <i class="fas fa-chevron-circle-left tx-15 lh--9 tx-primary"></i>
            </a>
            <a class="pd-1 bd bd-0 mg-r-15" href="%pdfUrl%" target="_blank" data-toggle="tooltip" title="Descargar" download="download">
                <i class="fas fa-download tx-15 lh--9 tx-primary"></i>
            </a>
        </div>
    </div>
</div>
