<div class="pos-absolute wd-100p pd-0 mg-0 bd-0 t--50 switch-offline d-none">
    <div class="alert alert-solid alert-success pd-15 mg-0 bd-0 rounded-0 online d-none" role="alert">
        <i class="fas fa-check-circle"></i> <b>Conexión restablecida</b>
    </div>
    <div class="alert alert-solid alert-warning pd-15 mg-0 bd-0 rounded-0 offline d-none" role="alert">
        <div class="spinner-grow spinner-grow-sm" role="status">
            <span class="sr-only">Procesando...</span>
        </div>
        <b>Tu conexión a Internet es deficiente. Intentaremos conectarnos en unos minutos.</b>
    </div>
</div>