<footer class="footer pos-fixed wd-100p b-0 l-0">
    <div>
        <span>
            © {{ "now"|date("Y") }} {{config.build.name|raw}} v{{config.build.version}}.
        </span>
        <span>
            Created by
            <a href="https://www.hospitalmetropolitano.org">
                {{config.build.copyright}}
            </a>
        </span>
        <span>
            Todos los derechos reservados.
        </span>
    </div>
    <div>
        <nav class="nav d-none">
            <a class="nav-link" href="https://themeforest.net/licenses/standard">
                Licenses
            </a>
            <a class="nav-link" href="../../change-log.html">
                Change Log
            </a>
            <a class="nav-link" href="https://discordapp.com/invite/RYqkVuw">
                Get Help
            </a>
        </nav>
    </div>
</footer>