<div class="navbar-menu-wrapper" id="navbarMenu">
    <div class="navbar-menu-header">
        <a class="df-logo" href="{{config.build.url}}">
            {{config.build.name|raw}}
        </a>
        <a href="" id="mainMenuClose">
            <i data-feather="x">
            </i>
        </a>
    </div>
    <!-- navbar-menu-header -->
    <ul class="nav navbar-menu">
        <li class="nav-label pd-l-20 pd-lg-l-25 d-lg-none">
            Menu
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.hospitalmetropolitano.org/es/hospital/declaracion-estrategica">
                Nosotros
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.hospitalmetropolitano.org/es/nuestros-medicos/dep-medicina-interna/alergologia-es">
                Nuestros Médicos
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.hospitalmetropolitano.org/es/productos-y-servicios/apoyo-terapeutico/nutricion-y-dietetica">
                Productos y Servicios
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.hospitalmetropolitano.org/es/pacientes-y-visitantes/derechos-y-obligaciones-del-paciente">
                Pacientes y Visitantes
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.hospitalmetropolitano.org/es/educacion/centro-de-entrenamiento-internacional-aha">
                Educación
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.hospitalmetropolitano.org/es/blog">
                Blog
            </a>
        </li>
    </ul>
</div>
<!-- navbar-menu-wrapper -->
