<div class="col-md-6 mg-t-20">
    <div class="card card-event">
        <img alt="" class="card-img-top" src="https://via.placeholder.com/500x281">
        <div class="card-body tx-13">
            <h5>
                <a href="">
                    Acoustic Workshop
                </a>
            </h5>
            <p class="mg-b-0">
                Apr 10 - Apr 12, Cebu IT Park
            </p>
            <span class="tx-12 tx-color-03">
                Cebu City, Cebu, Philippines
            </span>
        </div>
        <!-- card-body -->
        <div class="card-footer tx-13">
            <span class="tx-color-03">
                5,001 people interested
            </span>
            <button class="btn btn-xs btn-secondary">
                Interested
            </button>
        </div>
        <!-- card-footer -->
    </img>
</div>
