<label class="d-block tx-medium tx-10 tx-uppercase tx-sans tx-spacing-1 tx-color-03 mg-b-15">Opciones Disponibles</label>

<div class="row row-xs ">
	<div class="nuevaCitaExpress col-6 col-sm-4 col-md-3 col-xl" style="cursor:pointer;">
		<div class="card card-file">

			<div class="card-file-thumb tx-primary">
				<i class="fas fa-user-clock tx-150"></i>
			</div>
			<div class="card-body">
				<div class="tx-20 link-02 tx-medium ">Nueva Atención</div>
				<p>Inicia una atención y gestiona a tu paciente.</p>
				<span>Metrovirtual</span>
			</div>
		</div>
	</div>
	<!-- col -->
	<div class="nuevaCita col-6 col-sm-4 col-md-3 col-xl" style="cursor:pointer;">
		<div class="card card-file">

			<div class="card-file-thumb tx-orange">
				<i class="fas fa-calendar-check tx-150"></i>
			</div>
			<div class="card-body">
				<div class="tx-20 link-02 tx-medium ">Agendar una Cita</div>
				<p>Agenda y planifica una atención</p>
				<span>Metrovirtual</span>
			</div>
		</div>
	</div>


</div>
