<div class="blockPteLive clearfix mg-b-25">
    <div id="contactAvatar" class="pos-relative float-left">
        <div class="avatar avatar-xl">
            <span class="avatar-initial rounded-circle bg-gray-700 tx-normal"></span>
        </div>
    </div>
</div>
<h5 id="contactName" class="tx-18 tx-xl-20 mg-b-5"></h5>
<div class="d-flex mg-b-5 mg-t-25">
    <span class="tx-12 badge pd-0 pd-t-2 bg-gray">
        <div class="tx-normal" id="dniPaciente">---
        </div>
    </span>
</div>
<div class="d-flex mg-b-5">
    <span class="tx-12 badge pd-0 pd-t-2 bg-gray">
        <div class="tx-normal" id="nhcPaciente">---
        </div>
    </span>
</div>
<div class="blockCita d-flex mg-b-5">
    <span class="tx-12 badge pd-0 pd-t-2 bg-gray">
        <div class="tx-normal">Fecha de Cita:
        </div>
    </span>
</div>
<div class="d-flex mg-b-15">
    <span class="tx-12 badge pd-0 pd-t-2 wd-50 bg-gray mg-r-auto mg-l-0">
        <div class="tx-normal" id="diaCita"></div>
        <div class="tx-normal" id="fechaCita"></div>
    </span>
    <span class="tx-12 badge badge-primary wd-50 pd-0 pd-t-2 pd-b-2 mg-r-30 mg-l-auto">
        <div class="tx-white " id="horaCita"></div>
    </span>
</div>

<nav class="contact-call-nav flex-column contact-content-nav mg-b-20" id="statusCita">
    <button class="iniAtencionTC btn btn-primary btn-icon btn-block tx-semibold" data-toggle="tooltip" title="Iniciar Teleconsulta" type="button">
        <t class="mg-l-6">
            Iniciar Teleconsulta
        </t>
    </button>
    <button class="iniAtencionPS btn btn-info btn-icon btn-block tx-semibold" data-toggle="tooltip" title="Iniciar atención presencial" type="button">
        <t class="mg-l-6">
            Atención Presencial
        </t>
    </button>
</nav>
<nav class="nav flex-column contact-content-nav mg-b-25 d-none" id="blockCloseAtencion">
    <button class="finAtencion btn btn-sm btn-outline-danger btn-icon btn-block tx-semibold" data-toggle="tooltip" title="Procesa los datos ingresados y finaliza la atención" type="button">
        <t class="mg-l-6">
            Finalizar Atención
        </t>
    </button>
    <button class="cancelarAtencion btn btn-sm btn-outline-light btn-icon btn-block tx-semibold" data-toggle="tooltip" title="Elimina los datos ingresados y cancela la atención" type="button">
        <t class="mg-l-6">
            Cancelar Atención
        </t>
    </button>
</nav>
<nav class="nav flex-column contact-content-nav mg-b-25 d-none" id="tipoAtencion">
    <div class="form-group">
        <label>Seleccione el tipo de atencion para el Paciente:</label>
        <select class="custom-select tx-18" id="tipoAtencionPaciente">
            <option selected="selected" value="T" class="tx-18">
                Teleconsulta
            </option>
            <option value="P" class="tx-18">
                Presencial
            </option>
        </select>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary btn-block" id="confirmarAtencion">
            Confirmar
        </button>
        <button type="button" class="btn btn-outline-danger btn-block" id="cancelarAtencion">
            Cancelar
        </button>
    </div>
</nav>
<nav class="nav flex-column contact-content-nav mg-b-25 d-none" id="loaderAtencion">
    <div class="placeholder-paragraph">
        <div class="line"></div>
        <div class="line"></div>
    </div>
</nav>
<!-- contact-call-nav -->
<div class="" id="opcionesCita" style="display:block;">
    <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">
        Opciones Disponibles
    </label>
    <nav class="nav flex-column contact-content-nav mg-b-25">
        <a href="" class="cancelarCita nav-link">
            <i data-feather="trash-2"></i>
            Eliminar Cita
        </a>
        <a href="" class="nuevaCita nav-link d-none">
            <i data-feather="plus-square"></i>
            Nueva Cita
        </a>
    </nav>
</div>
<nav class="nav flex-column contact-content-nav mg-b-25 d-none" id="blockCancelarCita">
    <div class="form-group mg-b-0">
        <label>¿Eliminar Cita?</label>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-danger btn-block" id="cancelarCita">
            Si
        </button>
        <button type="button" class="btn btn-white btn-block" id="returnOpciones">
            No
        </button>
    </div>
</nav>

<div class="" id="opcionesShare" style="display: none;">
    <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">
        Opciones Disponibles
    </label>
    <div class="">
        <hr class="mg-y-10"/>
        <nav class="nav flex-column contact-content-nav">

            <a href="#" class="resetCompartirResultado mg-t-5 tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left">
                    <line x1="19" y1="12" x2="5" y2="12"></line>
                    <polyline points="12 19 5 12 12 5"></polyline>
                </svg>
                Regresar
            </a>
        </nav>
        <hr class="mg-y-10"/>
        <nav class="nav flex-column contact-content-nav  mg-b-25">
            <div class="shareMailLab card card-file mg-b-8 " style="cursor:pointer;">
                <div class="card-file-thumb tx-indigo">
                    <i class="far fa-envelope"></i>
                </div>
                <div class="card-body">
                    <h6>
                        <div class="link-02">Compartir por correo electrónico</div>
                    </h6>
                </div>
            </div>
            <div class="shareWhatsappLab card card-file mg-b-8" style="cursor:pointer;">
                <div class="card-file-thumb tx-success">
                    <i class="fab fa-whatsapp"></i>
                </div>
                <div class="card-body">
                    <h6>
                        <div class="link-02">Compartir por Whatsapp Web</div>
                    </h6>
                </div>
            </div>
        </nav>
    </div>
</div>
