<div class="timeline-item">
    <div class="timeline-time" data-toggle="tooltip" title="Fecha de Atención">
        %fecha%</div><!-- timeline-body --><div class="timeline-body">
        <p class="pd-0 mg-0">
            <span class="tx-primary">
                Evolución:
            </span>
            %descripcion%
        </p>
    </div>
</div>
