<a class="burger-menu" href="" id="mainMenuOpen">
    <i data-feather="menu">
    </i>
</a>
<a class="burger-menu d-none" href="" id="contactContentHide">
    <i data-feather="arrow-left">
    </i>
</a>
<div class="navbar-brand">
    <a class="df-logo" href="{{config.build.url}}">
        {{config.build.name|raw}}
    </a>
</div>
<!-- navbar-brand -->